In [23]:
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

In [24]:
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=USD"

In [25]:
load_dotenv()

True

In [26]:
btc_response = requests.get(btc_url).json()
btc_price = btc_response["data"]["1"]["quotes"]["USD"]["price"]

In [27]:
btc_price

29978.0

In [40]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY')

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = 'v2'
)

In [59]:
timeframe = '1Day'
tickers = ['ETH']
start_date = pd.Timestamp('2012-05-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2023-01-01', tz='America/New_York').isoformat()
crypto_portfolio = alpaca.get_bars(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df
crypto_portfolio.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,28.57,28.935,28.24,28.44,172987,1726,28.449667,ETH
2015-12-02 05:00:00+00:00,28.41,28.950,28.30,28.83,162629,1552,28.634814,ETH
2015-12-03 05:00:00+00:00,28.87,28.900,28.02,28.09,122823,1162,28.329750,ETH
2015-12-04 05:00:00+00:00,28.12,28.780,27.99,28.74,74512,814,28.521199,ETH
2015-12-07 05:00:00+00:00,28.58,28.700,28.28,28.46,104457,1121,28.456537,ETH